.App {
  margin: 30px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}



input {
  display:block;
}

.margin-right-sm {
  margin-right: 10px;
}

.margin-bottom-md {
  margin-bottom: 20px;
}

.date-field {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

/* tbody {
  width: 100%;
} */

/* table.main-table {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
}  */

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table, tbody {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
  table-layout: fixed;
  min-width: 100%;
} 

th.inner-table {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border: 1px solid black;
  width: 600px;
  min-width: 100%;
}

th.width-of-data-cell, td.width-of-data-cell {
  border: 1px solid black;
  min-width: 55px;
  min-width: 80px;
  text-align: center;

}  

th.width-of-name-cell, td.width-of-name-cell {
  border: 1px solid black;
  min-width: 185px;
}  

th.width-of-type-cell, td.width-of-type-cell {
  border: 1px solid black;
  min-width: 90px;
}  

table.no-border, tbody.no-border {
  border: none
}

tr.no-border, td.no-border {
  border: none;
}

td.cost-border {
  border-top: 1px solid black;
  background-color: #9e9e9e1f;
}

td.name {
  width: 1000px
}

button.btn {
  margin-top: .25rem;
  margin-bottom: .25rem;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: left;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button.btn-link{
  font-weight: 400;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

button.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}